body {
    font-family: 'Trebuchet MS', sans-serif;
  }
#ShopTitle{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb1ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 5rem;
}
#EnterLabel{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
#SubmitForm{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
#ItemInput{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.Buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
    font-size: 15px;
    cursor: pointer;
}
#DisplaySection{
    display: flex;
    align-items: center;
    justify-content: center;
}